{% extends('common/base_list.twig') %}
{% import 'parts/main_body.twig' as main %}

{% block js %}
	{{ include('common/pager_js.twig') }}
{% endblock %}

{% block title %}
	送信除外グループ一覧
{% endblock %}

{% block search %}
	{{ main.text_block("search-col", "グループ名", '', 'search_group_name', search_group_name) }}
{% endblock %}

{% block main %}
	<div id="list-area">
		{% if list|length == 0 %}
			{{ main.info_msg("データはありません。")}}
		{% else %}
			{{ main.pager_block() }}
			<div id="mail-group-table">
				<table class="list-table">
					{{ include('parts/list_col.twig')}}
					<tbody id="container">
						{% for key,item in list %}
							<tr>
								<td class="ta-center"><a href="{{ base_url }}exclude_group/ExcludeGroupRegist/modify_input/{{ item.id }}"><i class="far fa-edit" aria-hidden="true"></i></a></td>
								<td class="ta-center">{{ item.id }}</td>
								<td class="ta-center">{{ item.group_name }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		{% endif %}
	</div>
{% endblock %}