{{ include('common/header.twig') }}
{{ include('common/body_header.twig') }}

{% import 'parts/header.twig' as header %}

{% import 'parts/form.twig' as form %}
{% import 'parts/main_body.twig' as main %}

{{ header.javascript_start }}
	
	$(function() {
		$('[name=mail_template]').change(function() {
			$.ajax({
				type: "POST",
				url: "{{ base_url }}spot_mail/SpotMailSend/select/",
				data: {
					"template_id": $(this).val()
				},
				success: function(data) {
					var arr = JSON.parse(data);
					document.getElementById("subject").value = arr['subject'];
					$('textarea[name="discription"]').val(arr['discription']);
				}
			});
		});
		$('#clear').click(function() {
			$('input[type=file]').val('');
		});
	});
	
{{ header.javascript_end }}

{{ main.event_start }}
	
	{{ form.form_title("スポットメール配信") }}
	
	<div class="err-area">
		{{ include('common/err_msg.twig') }}
	</div>
	
	{{ form.upload_start("inputform", "", "input-box", base_url~"spot_mail/SpotMailSend/", "post") }}
		{{ form.form_hidden("", "MAX_FILE_SIZE", 3145728) }}
		<dl>
			<dt>{{ form.set_col("送信者", 1) }}</dt>
			<dd>{{ form_select('sender_id', mail_sender_map, sender_id)|raw }}</dd>
			<dt>{{ form.set_col("宛先", 1) }}</dt>
			<dd>{{ form_select('mail_dest_id', mail_dest_map, mail_dest_id)|raw }}</dd>
			<dt>{{ form.set_col("メールテンプレート") }}</dt>
			<dd>{{ form_select('mail_template', mail_template_map, mail_template)|raw }}</dd>
			<dt>{{ form.set_col("件名", 1) }}</dt>
			<dd>{{ form.input("subject", subject, "text") }}</dd>
			<dt>{{ form.set_col("本文", 1) }}</dt>
			<dd>{{ form.textarea("discription", 50, 20, discription) }}</dd>
			<dt>{{ form.set_col("添付ファイル") }}</dt>
			<div class="sel-area">
				{{ form.input_file_multi("up_file[]") }}
				{{ form.input_button('clear', '削除')}}
			</div>
		</dl>
		<p class="action">
			{{ form.action(action, '配信', '1') }}
		</p>
	{{ form.form_end }}
	
	</div>
	{{ main.return_top(base_url) }}
</div>

{{ main.main_end }}

{{ include('common/footer.twig') }}