{% extends('common/base_input.twig') %}

{% block title %}
	{{ form.form_title("配信宛先"~value) }}
{% endblock %}

{% block inputform %}
	<dl>
		<dt>{{ form.set_col("会社名", 1) }}</dt>
		<dd>{{ form.input("dest_company_name", dest_company_name, "text", "", "", 50) }}</dd>
		<dt>{{ form.set_col("宛先名", 1) }}</dt>
		<dd>{{ form.input("dest_name", dest_name, "text", "", "", 50) }}</dd>
		<dt>{{ form.set_col("メールアドレス", 1) }}</dt>
		<dd>{{ form.input("mail_address", mail_address, "text", "", "", 50) }}</dd>
		<dt>{{ form.set_col("送信グループ") }}</dt>
		<dd>
			{% for key,value in mail_group_map %}
				<p class="form-check-area">
					{{ form_checkbox("mail_group[]", key, value, "mail_group_label"~key, mail_group_checked)|raw }}
				</p>
			{% endfor %}
		</dd>
	</dl>
{% endblock %}